*{
    margin:0;
    padding:0;
    border:0;
}

/*-------------------------Header*/

img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

header{
   width: 100%;
   background-color: rgb(55, 55, 66);
   clear: both;
   content: '';
   display: table;
}

#logo{
    float: left;
    margin-bottom: 23px;
    margin-left: 10px;
}

#menu-header{
    display: inline;
}

#menu li{
    list-style-type: none;

}

#menu li a {
    margin-right: 50px;
    font-size: 150%;
    text-decoration: none;
    float: right;
    color: #fff;
}

#menu {
    margin: 35px 15px 25px 15px;
    padding-top: 15px;
}

#menu a:hover{
    color: black;
    transition: .25s;
}


/*--------------------------Body---*/

#section-body{
    width: 100%;
    height: 800px;
    background: url("https://media.istockphoto.com/photos/zilhouette-exerccise-studio-picture-id849413034");
    background: auto;
    background-color: rgb(55, 55, 66);
}

.callout{
    color: #fff;
    font-size: 30px;
    margin: 0 auto;
}


/*-------------------------Map---*/

.maps{
    border: 2px solid black;

}

/*------------------------Opening Times*/

#opening-times th, td{
    padding-left: 10px;
    padding-top: 15px;
}

#opening-times{
    padding: 25px 25px;
}

table{
    margin: 0 auto;
}